body{
  color: #222;
}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center ;
  margin-top: 20px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header .logo{
  font-weight: bold;
  font-size: 1.4rem;
}
header nav{
  display: flex;
  gap: 15px;
}

.post{
display: grid;
grid-template-columns: 0.9fr 1.1fr;
gap: 20px;
margin-bottom: 30px;
}
.post .texts h2{
  margin: 0;
  font-size: 1.5rem;
}

.info{
  margin: 6px 0px;
  color: #888;
  font-size: .75rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.info a{
  color: #333;
  text-decoration: none;
}

.post .summary{
  margin: 17px 0;
  line-height: 1.5rem;

}